/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600);


$header-font: Raleway, Helvetica, sans-serif;
$title-font: Lato, Helvetica, sans-serif;
$main-font: Lato, Helvetica, sans-serif;
$serif-font: Crimson Text, serif;
$base-font : Lato, Helvetica, sans-serif;


$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme

/*Fonts colors*/
$dark-grey: #323E42;
$light-grey: #989EA0;

/*Brands colors*/
$dark-blue: #282F44;
$blue-ocean: #17BEBB;
$background-light-grey: #F2F4F7;
$background-silver-grey: #e9e9e9;
$hover-blue: #15ADAA;
