.title_flight{
  text-align: center;
}

.results_wrapper{
  display: flex;
  padding: 0px;
}
.results_lists{
  height: 85vh;
  overflow-y: scroll;
  padding: 20px;
  margin: 0 0.75rem;
  border-radius: 5px;
  background-color: #fff;
}

.card_result{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  text-align: center;
  background-color: $background-light-grey;
  border-radius: 5px;
  cursor: pointer;
}

.card_result.selected{
  background-color: #E3696E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.date_range_graph_field{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  flex: 0 0 60%;
}

.date_range_graph{
  align-self: stretch;
}

.card_result_column2{
  padding:5px;
  flex: 0 0 40%;
  p {
    margin: 0;
  }
}

.flight_price{
  color: $blue-ocean;
  font-size:19px;
  padding:15px;
}

.flights_durations_table{
  display: flex;
  justify-content: space-around;
}

.flight_details_container{
  padding: 20px 5px;
  margin: 0 0.75rem;
  border-radius: 5px;
  background-color: #fff;
  height: 85vh;
  overflow-y: scroll;
  h3{
    text-align: left;
    font-size: 15px;
  }
}

.flight_card{
  background-color:$background-silver-grey;

}

.one_trip_table{
  display:block;
  align-content: flex-start;
  padding:5px;
  /*background-color:#FCFCFD;
  border-radius: 5px;
  border: solid 1px #323E42;*/
  p{
    margin: 1px;
  }
}

.trip_table_head{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px;
  text-align:center;
}

.trip_table_head .fa{
  font-size: 30px;
  padding-bottom: 5px;
}

.flight_row{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px  5px;
}


.time{
  flex:0 0 90px;
  margin-left:3px;
  flex-wrap: wrap;
}

.date{
  font-size:12px;
}

.hour{
  font-weight: regular;
  color: #0072BB;
;}

.place{
  flex:0 0 135px;
  text-align: center;
  flex-wrap: wrap;
  p{
    padding: 5px;
  }
}

.company{
  flex:0 0 68px;
  text-align: center;
  flex-wrap: wrap;
}

.stopover_nb{
  flex: 0 0 56px;
  text-align: center;
  flex-wrap: wrap;
}



.stopover_duration{
  flex:0 0 56px;
  text-align:center;

}

.stopover_nb{
  font-size:14px;
  color:$light-grey;
}

.bouton_voir{
  display: flex;
  justify-content: flex-end;
  width:100%;
}








