.title_flight{
  text-align: center;
}

.results_wrapper{
  display: flex;
  padding: 0px;
}
.results_lists{
  height: 85vh;
  overflow-y: scroll;
  padding: 20px;
  margin: 0 0.75rem;
  border-radius: 5px;
  background-color: #fff;
}



.card_result{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  text-align: center;
  background-color: $background-light-grey;
  border-radius: 5px;
  cursor: pointer;
}

.card_result.selected{
  background-color: #E3696E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.date_range_graph_fie{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  flex: 0 0 60%;
}

.date_range_graph{
  align-self: stretch;
}

.card_result_column2{
  padding:5px;
  flex: 0 0 40%;
  p {
    margin: 0;
  }
}

.flight_price{
  color: $blue-ocean;
  font-size:19px;
  padding:15px;
}

.flights_durations_table{
  display: flex;
  justify-content: space-around;
}

.flight_details_container{
  padding: 20px 5px;
  margin: 0 0.75rem;
  border-radius: 5px;
  background-color: #fff;
  height: 85vh;
  overflow-y: scroll;
  h3{
    font-size: 25px;
  }
}

.flight_card{
  background-color:$background-silver-grey;

}

.one_trip_table{
  display:block;
  align-content: flex-start;
  padding:5px;
  background-color:#E3696E;
  p{
    margin: 1px;

  }
}

.trip_table_head{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px;
  text-align:center;
}

.flight_row{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px  5px;
  border-left: 1px solid;
}


.time{
  flex:0 0 77px;
  margin-left:3px;
}

.place{
  flex:0 0 135px;
  text-align: center;
}

.company{
  flex:0 0 68px;
  text-align: center;
}

.duration{
  flex: 0 0 56px;
  text-align: center;
}

.stopover_row{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px;
  border-left-style: dashed;
}

.stopover_draw{
  flex:1 0 auto;
  margin-left:3px;
  text-align: center;
}

.stopover_duration{
  flex:0 0 56px;
  text-align:center;

}







